LIB_USER_NAME=daudzasbalsis
LIB_USER_PASS=
LIB_ADMIN_NAME=admin@balsis.lv
LIB_ADMIN_PASS=

# If 1, will run the seeder on application start
LIB_ENABLE_SEEDERS=1

# If 1, will allow seeding to overwrite existing user passwords with LIB_USER_PASS and LIB_ADMIN_PASS
LIB_ALLOW_SEEDER_PASSWORD_RESET=0

# If 1, will allow manual password reset for admin via API
LIB_ALLOW_MANUAL_PASSWORD_RESET=1