LIB_USER_NAME=daudzasbalsis
LIB_USER_PASS=

LIB_ADMIN_NAME=admin@balsis.lv
LIB_ADMIN_PASS=

# If 1, will run the seeder on application start
# Must be enabled on first run to create initial users, then should be disabled
# Password can be changed afterwards via web interface after login
LIB_ENABLE_SEEDERS=1

# If 1, will allow seeding to overwrite existing user passwords with LIB_USER_PASS and LIB_ADMIN_PASS
# Used as a recovery option in case passwords are lost.
LIB_ALLOW_SEEDER_PASSWORD_RESET=0

# If 1, will allow manual password reset for admin via web interface
# Used for public testing deployments
LIB_ALLOW_MANUAL_PASSWORD_RESET=1