:root {
  --color-dark: rgba(55, 55, 55, 1);
  --color-darker: rgba(44, 44, 44, 1);
  --balsis-red: #c0392b;
  --color-light: #f0f0f0;
  --color-light-darker: #dcddd8;
  --color-bluegray: #343a40;
}

body {
  font-family: "Nimbus Mono", "Courier New", monospace;
}

h2 {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 30px;
}

h3 {
  color: var(--color-light);
  text-decoration: none !important;
  font-weight: normal;
}

/* 
 Icons are by default not vertically offset to match text, so this class is used to vertically center icons in cases where there is no text.
 */
.bi-no-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  &::before {
    vertical-align: middle;
  }
}

/* Bump the offset for the rest of the icons, as this looks better */
.bi:not(.bi-no-text)::before {
  vertical-align: -0.2em;
}

@font-face {
  font-family: "Nimbus Mono";
  src: url("@/static/fonts/NimbusMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Nimbus Mono";
  src: url("@/static/fonts/NimbusMono-Bold.otf") format("opentype");
  font-weight: bold;
}

/* Provides italics. Not used currently, so no point in loading, but kept as comment to signal availability future use */
/*
@font-face {
    font-family: 'Nimbus Mono';
    src: url('@/static/fonts/NimbusMono-Oblique.otf') format('opentype');
    font-style: oblique;
}

@font-face {
    font-family: 'Nimbus Mono';
    src: url('@/static/fonts/NimbusMono-BoldOblique.otf') format('opentype');
    font-weight: bold;
    font-style: oblique;
}
*/
