/* From https://codesandbox.io/p/sandbox/nostalgic-noyce-18306n50rj?file=%2Fsrc%2FApp.vue%3A10%2C9 */
.state-loading {
  position: relative;
  user-select: none;
  overflow: hidden;
  border-radius: 3px;
}

.state-loading:before {
  -webkit-animation: loader 0.75s linear;
  -webkit-animation-iteration-count: infinite;
  animation: loader 0.75s linear;
  animation-iteration-count: infinite;
  border-color: transparent #212529 #212529;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.25em;
  box-shadow: 0 0 0 1px transparent;
  content: "";
  height: 1.5em;
  left: 50%;
  margin: -0.75em 0 0 -0.74em;
  position: absolute;
  top: 50%;
  width: 1.5em;
  z-index: 5;
}

.state-loading:after {
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.state-loading-bg:after {
  background-color: rgba(204, 204, 204, 0.7);
}

@keyframes loader {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
