@import "bootstrap/scss/bootstrap.scss";
@import "loading.css";

:root{
  --color-dark: rgba(55, 55, 55, 1);
  --color-darker: rgba(44, 44, 44, 1);
  --balsis-red: #c0392b;
  --color-light: #f0f0f0;
  --color-light-darker: #dcddd8
}

body {
  font-family: "Courier New", monospace;
}

h2 {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 30px;
}

h3 {
  color: var(--color-light);
  text-decoration: none !important;
  font-weight: normal;
}
